    <!-- Investigators Section -->
    <section id="about" class="content-section">
      <div class="container about-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Registration</h2>
            <h5 class="text-center">This workshop aims to bring together researchers with different backgrounds in computer science, 
                    control theory, statistics and math who are interested in addressing distributional robustness in 
                    learning, decision, and control.</h5>
            <h5 class="text-center">If you plan to attend, please do register. It is FREE. We request this as it helps us plan the event better, 
                    and to justify the importance of such events in our reports to NSF.</h5>
            <h4 class="text-center"><a href="TODO">Registration Form (Under Construction)</a>
            <h5 class="text-center">Organizer: 
                <a href="https://faculty.washington.edu/zaid/">Zaid Harchaoui (UW)</a>
            <h5 class="text-center">Local Organizers: 
                <a href="https://krishnap25.github.io">Krishna Pillutla (UW)</a>, 
                <a href="https://stephen.mussmann.xyz/">Steve Mussmann (UW)</a>
            <h5 class="text-center">Steering Committee: 
                <a href="https://faculty.washington.edu/mfazel/">Maryam Fazel (UW)</a>, 
                <a href="https://willett.psd.uchicago.edu/">Rebecca Willett (Chicago)</a>, 
                <a href="http://pages.cs.wisc.edu/~swright/">Stephen Wright (Wisconsin)</a>
          </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
