    <!-- Investigators Section -->
    <section id="about" class="content-section">
      <div class="container about-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Registration</h2>
            <h5 class="text-center">This workshop aims to bring together researchers with different backgrounds in computer science, control theory, statistics and math who are interested in bridging reinforcement learning, control theory, and statistical learning.</h5>
            <h5 class="text-center">If you plan to attend, please do register. It is FREE. We request this as it helps us plan the event better, and to justify the importance of such events in our reports to NSF.</h5>
            <h4 class="text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLSc5TGVMrxXiCioz6wkXa5Zmp4P56n0Sf4ZsytCeouPvl5prpg/viewform?usp=sf_link">Registration Form</a>
            <h5 class="text-center">Organizers: <a href="https://faculty.washington.edu/mfazel/">Maryam Fazel (UW)</a>, <a href="https://homes.cs.washington.edu/~sham/">Sham Kakade (UW)</a>, <a href="https://homes.cs.washington.edu/~jamieson/about.html">Kevin Jamieson (UW)</a>, <a href="http://pages.cs.wisc.edu/~swright/">Stephen Wright (Wisconsin)</a>
          </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
