   <section id="apply" class="content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Apply</h2>
                <p></p>

                <p class="text-center"> Prospective attendees are asked to submit an application form. This form, along with the recommendation form to be submitted by an academic reference, is linked below.  <br>

                  Registration for the summer school is $80. <br> </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2" margin-bottom=50>
				<h5 class="text-center"><a href="https://goo.gl/forms/UQyaeiv07ORoNAd73">Applicant form</h5>
        <h5 class="text-center"><a href="https://goo.gl/forms/4UftoPVbdr5qq4l83">Recommender form</h5>
            </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>