    <!-- Contact Section -->
    <section id="contact" class="container contact-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Questions? Ask the workshop organizers directly during one of the breaks.</p>
            </div>
        </div>
        <!--     ### The following lines are not required for the last tab -->
<!--         <div class="text-center">
          <a href="#talks" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div> -->
    </section>
