    <!-- Research Section -->
    <section id="location" class="container location-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Location</h2>
				<h5>Bill & Melinda Gates Center, University of Washington</h5>
            </div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.538845576184!2d-122.3094668!3d47.6537939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014f3a87a197f%3A0xbb4d329d4cc5a6d7!2sBill%20%26%20Melinda%20Gates%20Center%20for%20Computer%20Science%20%26%20Engineering%20(CSE2)!5e0!3m2!1sen!2sus!4v1720170021000!5m2!1sen!2sus"
  width="600"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
        </div>
        <div class="text-center">
          <a href="#speakers" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
    </section>
