    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <p></p>
<!--         <h4><a href="TODO">Live Stream: TBD</a></h4> -->
        <h4>Lectures will be held in Zillow Commons, 4th floor of the Gates Center</h4>
<!--           <h4> Discussion sessions will be held in G04, ground floor of the Gates Center</h4> -->
          
<!--           <h4> The final schedule will be posted soon </h4> -->
          
<!--           <h4><a href="img/drds22_abstracts.pdf">Talk titles and abstracts</a> </h4> -->
          <h4>Talk titles and abstracts (TBD)</h4>
     

        
 <div class="row">
     Schedule Coming soon.
          <div class="col-md-4">
              <h4> August 13 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td> Aaditya Ramdas  </td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td> Rahul Pahri </td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td> Ilias Diakonikolas </td>
                </tr>
                <tr>
                  <td>11:45-2:00 </td><td> Lunch </td>
                </tr>
                <tr>
                  <td>2:00-2:45</td><td>Sivaraman Balakrishnan</td>
                </tr>
                <tr>
                  <td>2:45-3:30</td><td>Nina Balcan</td>
                </tr>
                <tr>
                  <td>3:30-4:00</td><td> Break  </td>
                </tr>
                <tr>
                  <td>4:00-5:00</td><td>Short talks</td>
                </tr>
                <tr>
                  <td>5:00-5:30</td><td>Posters</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-4">
              <h4> August 14 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td> Nan Jiang </td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td> Dylan Foster </td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td> Break </td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td> Kamalika Chaudhury</td>
                </tr>
                <tr>
                <tr>
                  <td>11:45-2:00 </td><td> Lunch </td>
                </tr>
                <tr>
                  <td>2:00-2:45</td><td> Ramya Korlakai Vinayak</td>
                </tr>
                <tr>
                  <td>2:45-3:30</td><td> Daniel Hsu  </td>
                </tr>
                <tr>
                  <td>3:30-4:00</td><td>Break</td>
                </tr>
                <tr>
                  <td>4:00-4:45</td><td> Aleksander Madry </td>
                </tr>
                <tr>
                  <td>4:45-6:00</td><td>Short talks</td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-4">
              <h4> August 15 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-9:45</td><td>Sara Beery</td>
                </tr>
                <tr>
                  <td>9:45-10:30</td><td>Samet Oymak</td>
                </tr>
                <tr>
                  <td>10:30-11:00</td><td>Break</td>
                </tr>
                <tr>
                  <td>11:00-11:45</td><td>Vasileios Charisopoulos</td>
                </tr>
                <tr>
                  <td>11:45-2:00</td><td>Lunch</td>
                </tr>
                 <tr>
                  <td>2:00-2:45</td><td>Nathan Srebro</td>
                </tr>
                <tr>
                  <td>2:45-3:30</td><td>Simon Du</td>
                </tr>
                </tbody>
            </table>
          </div> 
        </div>
        <div class="text-center">
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
</div>
    </section>
