    <!-- Section -->

    <section id="schedule" class="container content-section text-center">
      <div class="table">
        <h2>Schedule</h2>
        <p></p>
      <div class="row">
          <div class="col-md-6">
              <h4> August 19-20 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-5:00</td><td> Lecture </td>
                </tr>
                </tbody>
            </table>
          </div>
          <div class="col-md-6">
              <h4> August 21 </h4> 
              <table class="table table-large">
              <tbody>
                <tr>
                  <td>9:00-12:30</td><td> Lecture </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
</div>
    </section>
