    <!-- Investigators Section -->
    <section id="speakers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Invited Speakers</h2>
            <table class="table table-large">
              <tbody>
<style>
  td.thumb img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center top;
/*     border-radius: 8px; /* optional, for slightly rounded corners */ */
  }
</style>
<!-- EXAMPLE ROW BELOW: -->
<!-- <tr>
<td class="thumb"><img src="img/instructors/emo.png"></td>
<td><a href="https://homes.cs.washington.edu/~todorov/index.php">Emo Todorov</a><br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/pablo.jpg"></td>
<td><a href="http://www.mit.edu/~parrilo/">Pablo Parrilo</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
</tr> -->
   
                  
<tr>
<td class="thumb"><img src="img/speakers/Beery_Sara.jpg"></td>
<td><a href="https://beerys.github.io/">Sara Beery</a><br />Massachusetts Institute of Technology<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/kamalika_new.jpeg"></td>
<td><a href="https://cseweb.ucsd.edu/~kamalika/">Kamalika Chaudhury</a><br />UC San Diego<br /><i> </i></td>
</tr>

<tr>
<td class="thumb"><img src="img/speakers/Aleksander_Madry_website.png"></td>
<td><a href="https://madry.mit.edu/">Aleksander Mądry
</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/djhsu-nonaka.png"></td>
<td><a href="https://www.cs.columbia.edu/~djhsu/">Daniel Hsu</a><br />Columbia University<br /><i> </i></td>
</tr>
                  
<tr>
<td class="thumb"><img src="img/speakers/nan_jiang.jpeg"></td>
<td><a href="https://nanjiang.cs.illinois.edu/">Nan Jiang</a> <br />UIUC<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/dylan_foster.jpg"></td>
<td><a href="https://dylanfoster.net/">Dylan Foster</a><br />Microsoft Research<br /><i> </i></td>
</tr> 
                  
<tr>
<td class="thumb"><img src="img/speakers/nina_balcan.jpg"></td>
<td><a href="https://www.cs.cmu.edu/~ninamf/">Maria-Florina Balcan</a><br />Carnegie Mellon University<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/ramdas.jpg"></td>
<td><a href="https://www.stat.cmu.edu/~aramdas/">Aaditya Ramdas</a><br />Carnegie Mellon University<br /><i> </i></td>
</tr> 

<tr>
<td class="thumb"><img src="img/speakers/ilias.jpg"></td>
<td><a href="http://www.iliasdiakonikolas.org/">Ilias Diakonikolas</a><br />University of Wisconsin - Madison<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/samet.jpg"></td>
<td><a href="https://sota.engin.umich.edu/">Samet Oymak</a><br />University of Michigan<br /><i> </i></td>
</tr> 

<tr>
<td class="thumb"><img src="img/speakers/siva.jpg"></td>
<td><a href="https://www.stat.cmu.edu/~siva/">Sivaraman Balakrishnan</a><br />Carnegie Mellon University<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/simon_du.jpg"></td>
<td><a href="https://simonshaoleidu.com/">Simon Du</a><br />University of Washington<br /><i> </i></td>
</tr>  

<tr>
<td class="thumb"><img src="img/speakers/rahul.jpg"></td>
<td><a href="https://sparsity.ucsd.edu/rahul/">Rahul Parhi</a><br />UC San Diego<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/ramya.jpg"></td>
<td><a href="https://ramyakv.github.io/">Ramya Vinayak</a><br />University of Wisconsin - Madison<br /><i> </i></td>
</tr>  

<tr>
<td class="thumb"><img src="img/speakers/Vasileios.png"></td>
<td><a href="https://vchariso.gitlab.io/">Vasileios Charisopoulos</a><br />University of Chicago<br /><i> </i></td>
</tr> 


                  
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
