    <!-- Investigators Section -->
    <section id="speakers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Invited Speakers</h2>
            <table class="table table-large">
              <tbody>
<tr>
<td class="thumb"><img src="img/instructors/emo.png"></td>
<td><a href="https://homes.cs.washington.edu/~todorov/index.php">Emo Todorov</a><br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/pablo.jpg"></td>
<td><a href="http://www.mit.edu/~parrilo/">Pablo Parrilo</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/dimitri.jpg"></td>
<td><a href="http://web.mit.edu/dimitrib/www/home.html">Dimitri Bertsekas</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/csaba.jpg"></td>
<td><a href="https://sites.ualberta.ca/~szepesva/">Csaba Szepesvári</a> <br />University of Alberta<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/mengdi.jpeg"></td>
<td><a href="https://mwang.princeton.edu/">Mengdi Wang</a><br />Princeton University<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/necmiye.jpg"></td>
<td><a href="http://web.eecs.umich.edu/~necmiye/">Necmiye Ozay</a> <br />University of Michigan<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/ben.jpg"></td>
<td><a href="https://people.eecs.berkeley.edu/~brecht/">Ben Recht</a><br />University of California, Berkeley<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/yishay.jpg"></td>
<td><a href="http://www.cs.tau.ac.il/~mansour/">Yishay Mansour</a> <br />Tel Aviv University<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/emma.jpg"></td>
<td><a href="https://cs.stanford.edu/people/ebrun/">Emma Brunskill</a><br />Stanford University<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/yinyu.jpg"></td>
<td><a href="https://web.stanford.edu/~yyye/">Yinyu Ye</a> <br />Stanford University<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/daniel.jpg"></td>
<td><a href="https://djrusso.github.io/">Daniel Russo</a> <br />Columbia University<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/zaid.jpg"></td>
<td><a href="http://faculty.washington.edu/zaid/">Zaid Harchaoui</a> <br />University of Washington<br /><i> </i></td>
</tr>
<tr>
<td class="thumb"><img src="img/instructors/vikash.jpg"></td>
<td><a href="https://vikashplus.github.io">Vikash Kumar</a> <br />Google Brain<br /><i> </i></td>
<td></td>
<td></td>
</tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
